*,
*::after,
*::before {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

/* apply a natural box layout model to all elements,
 but allowing components to change */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* General styles */
html {
    font-size: 16px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: black;
}


/* Header */
header {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    justify-content: center;
    align-content: center;
    margin: 150px auto;
}

header div {
    margin: 0 auto;
}

.head-menu {
    text-align: center;
    margin: 10px;
}

#times-menu {
    font-size: 1.2em;
    margin: 10px;
}

/* news go here */

li {
    width: 100%;
}

ul {
    display: flex;
    flex-flow: row wrap;
}

ul div {
    height: 400px;
    max-width: 100%;
}

article {
    display: flex;
    align-items: flex-end;
    height: 100%;
}

a {
    color: white;
    text-decoration: none;
}

p {
    text-align: left;
    padding: 10px;
    background:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%);
    background-size: cover;
    min-height: 25%;
}


/* Footer */
footer {
    color: #c2c2c2;
    padding: 20px 0;
    margin: 20px 0;

}

footer p {
    text-align: center;
    vertical-align: bottom;
}

span {
    text-transform: uppercase;
}




/* ####################################################################################
From here down only cody for Tablet   ############################ */
/*Tablet*/
@media screen and (min-width: 480px) {

    header {
        flex-flow: row nowrap;
        align-items: center;
    }


    header div {
        margin: 0;
    }

    li {
        width: 50%;
    }
}

/* ####################################################################################
From here down only cody for Tablet   ############################ */
/*Desktop*/
@media screen and (min-width: 1000px) {
    header {
        flex-flow: row nowrap;
        align-items: center;
    }

    header div {
        margin: 0;
    }

    li {
        width: 25%;
    }
}