*,
*::after,
*::before {
    box-sizing: border-box;
}

*:focus {
    outline: none;
    border: 1px solid $focus-color;
}

/* apply a natural box layout model to all elements,
 but allowing components to change */
html {
    scroll-behavior: smooth;
}

/* General styles */
html {
    font-size: $basic-fontSize;
    color: $text-color;
    font-family: 'Open Sans light', sans-serif;
    background-color: $background-color;
}

body {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}


/* Header */
header {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    justify-content: center;
    align-content: center;
    margin: 150px auto;

    @include tablet {
        flex-flow: row nowrap;
        align-items: center;
        margin: 50px auto;
    }

    @include desktop {
        margin: 80px 80px;
    }



}

header div {
    margin: 0 auto;

    @include tablet {
        margin: 0;
    }

}

.head-menu {
    text-align: center;
    margin: 10px;
}

#times-menu {
    font-size: 1.2em;
    margin: 10px;
}

/* news go here */
.loading {
    margin: 0 auto;
    width: 50px;
}

li {
    width: 100%;

    @include tablet {
        width: 50%;
    }

    @include desktop {
        width: 25%;
    }
}

ul {
    display: flex;
    flex-flow: row wrap;
}

ul div {
    height: 400px;
    max-width: 100%;
}

article {
    display: flex;
    align-items: flex-end;
    height: 100%;
}

a {
    color: $text-color;
    text-decoration: none;
}

p {
    @include text-news();
    padding: 10px;
    min-height: 25%;


}


/* Footer */
footer {
    color: #c2c2c2;
    padding: 20px 0;
    margin: 20px 0;

}

footer p {
    text-align: center;
    vertical-align: bottom;

    @include desktop {
        text-align: left;
        margin-left: 80px;
    }
}

span {
    text-transform: uppercase;
}

@keyframes logo-anime {
    from {
        transform: scale(1, 1)translate(0px, 0px);
    }

    to {
        transform: scale(0.5, 0.5)translate(-600px, 0px);
    }
}

.logo-animation {
    @include desktop {
        animation: logo-anime 0.5s forwards ease-in-out;
    }
}

@keyframes menu-anime {
    from {
        transform: translate(0px, 0px);
    }

    to {
        transform: translate(-300px, 0px);
    }
}

.menu-animation {
    @include desktop {
        animation: menu-anime 0.5s forwards ease-in-out;
    }
}